---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import { DEV } from "../../consts"

const secondBrainPosts = await getCollection("second-brain", ({ data }) => {
  return DEV ? true : data.draft !== true
})
---

<Layout>
  <!-- <head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 130px;
				font-style: italic;
				color: #595959;
			}
			ul li a:visited {
				color: #8e32dc;
			}
		</style>
	</head> -->
  <section class="container">
    <ul>
      {
        secondBrainPosts.map((post) => (
          <li>
            <a href={`/${post.slug}/`}>{post.data.title || post.id}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
