---
import { CollectionEntry, getCollection } from 'astro:content';
import SecondBrainPost from '../layouts/SecondBrainPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog', ({ data }) => {
    return data.draft !== true;
  });
	const secondBrainPosts = await getCollection('second-brain', ({ data }) => {
    return data.draft !== true;
  });

	return [...posts, ...secondBrainPosts].map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<SecondBrainPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</SecondBrainPost>
