---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { DEV } from "../consts";

const posts = (
  await getCollection("second-brain", ({ data }) => {
    return DEV ? true : (data.draft !== true)
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <section class="container">
    <h2 class="text-xl">Recent Entries</h2>
    <ul>
      {
        posts.map((post) => (
          <li >
            {post.data.draft ? "(Draft)" : null} <a href={`/${post.slug}/`}><FormattedDate date={post.data.date!} /> {post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
