---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import FormattedDate from "../components/FormattedDate.astro"
import { DEV } from "../consts"

const posts = (
  await getCollection("second-brain", ({ data }) => {
    return DEV ? true : data.draft !== true
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
---

<Layout>
  <section class="container prose prose-xl dark:prose-invert">
    <h2>Recent Entries</h2>
    <ul class="mt-8">
      {
        posts.map((post) => (
          <li>
            {post.data.draft ? "(Draft)" : null}{" "}
            <a href={`/${post.slug}/`}>{post.data.title}</a>
            <small>
              <FormattedDate date={post.data.date} />
            </small>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
