---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (
  await getCollection("second-brain", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout>
  <section class="container">
    <h2 class="text-xl">Recent Entries</h2>
    <ul class="list-disc ml-4">
      {
        posts.map((post) => (
          <li >
            <a href={`/${post.slug}/`}><FormattedDate date={post.data.date!} /> {post.data.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
