---
const today = new Date()
---

<footer class="flex gap-2 justify-center">
  <span>&copy; {today.getFullYear()} narze</span>
  |
  <span
    ><a href="https://github.com/narze/garden-astro" target="_blank">Github</a
    ></span
  >
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
