---
import HeaderLink from "./HeaderLink.astro"
import { DEV, SITE_TITLE } from "../consts"
import ThemeSwitch from "./ThemeSwitch.svelte"
import Search from "./Search.svelte"
---

<header>
  <div class="container flex justify-between my-4 items-center text-lg">
    <h2 class="font-bold">
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <nav class="flex gap-2 my-2 items-center">
      <Search client:load />
      {DEV && <HeaderLink href="/blog">Blog (Dev)</HeaderLink>}
      <HeaderLink href="/second-brain">Entries</HeaderLink>
      <ThemeSwitch client:only />
    </nav>
  </div>
</header>
