<span class="flex items-center">
  <a
    href="https://webring.wonderful.software#garden.narze.live"
    title="วงแหวนเว็บ"
    class="p-1 w-8 transition-colors duration-300 hover:bg-slate-200 dark:hover:bg-slate-700 mx-auto rounded-full"
  >
    <img
      alt="วงแหวนเว็บ"
      width="32"
      height="32"
      src="https://webring.wonderful.software/webring.svg"
    />
  </a>
</span>
